<!DOCTYPE html>
{% load static %}`
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD-Base</title>
    <link rel="stylesheet" href="{% static 'enroll/css/messages.css' %}">
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
</head>
<body>
    <div class="container mt-5" >
        <a href="{% url 'SignUp' %}" class="btn btn-outline-primary">User Sign Up</a>
        <a href="{% url 'Login' %}" class="btn btn-outline-info">Login</a>
    </div>
    <div class="container mt-5">
        
        <h2 class="text-center alert alert-danger">
            Function Based view Model form CRUD project
        </h2>
        {% block content %} {% endblock content%}
    </div>
    <script src="{% static 'enroll/js/bootstrap.js' %}"></script>
    <script src="{% static 'enroll/js/jquery.js' %}"></script>
    <script src="{% static 'enroll/js/proper.js' %}"></script>
</body>
</html>