<!DOCTYPE html>
{% load static %}`
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD-Base</title>
    <link rel="stylesheet" href="{% static 'enroll/css/messages.css' %}">
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
</head>
<body>
    <div class="container mt-5">
        
        <h2 class="text-center alert alert-danger">
            User Registration
        </h2>
        <div class="row">
  <div class="col-sm-8">
    <form action="" method="POST" novalidate >
        {%csrf_token%}

        {% for field in form %}
         <p>{{field.label_tag}} {{field}} <span class="errorlist"> {{field.errors|striptags}} </span></p>
        {% endfor %} 
        <input type="submit" value="Submit">  
        <a href="{% url 'AddandShow' %}"><b class="btn btn-success">Back to home</b></a>
   
    </form>
        {% if messages %}
          {% for message in messages  %}
          <div class="row justify-content-center align-items-center" style="min-height: 20vh;">
            <div class="col-sm-12 d-flex align-items-center">

               <span >  
                <h4 class="text-center alert alert-success" {%if message.tags%} class="{{message.tags}}" {% endif %}>
                {{message}}
                </h4>                
               </span>                    
            </div>
          </div>

          {% endfor %}
        {% endif %}     
  </div>

</div>
    </div>
    <script src="{% static 'enroll/js/bootstrap.js' %}"></script>
    <script src="{% static 'enroll/js/jquery.js' %}"></script>
    <script src="{% static 'enroll/js/proper.js' %}"></script>
</body>
</html>



























